.backgroundcolor-vista {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(
        -45deg,
        #1572A1 0%,
        #9AD0EC 25%,
        #EFDAD7 51%,
        #E3BEC6 100%
  );
  animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.hover-efect {
 opacity: 0.7;
 transition: 0.5s;

  &:hover {
  opacity: 1;
  font-size:xx-large;
  transform: translateY(-7%);
  }
}
