.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 13px;
  line-height: 1.4;
  opacity: 0.9;
  margin-bottom: 0;
  margin-top: 8px;
  overflow-wrap: break-word;
}

.card-product .card-product-infos {
  padding: 16px;
}
.cards-show {
  flex-wrap: wrap;
  height: 500px;
  img {
    height: auto;
    width: auto;
    padding: 10px;
    border-radius: 5px;
    object-fit: cover;
    flex-grow: 1;
  }
}
.card-product-show {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  width: 100%;
  .info-show {
    h2 {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      margin: 0;
    }
    p {
      font-size: 16px;
      margin: 0;
    }
    h3 {
      font-size: 20px;
      font-weight: bold;
      margin: 0;
    }
  }
  &-infos {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  background-size: cover;
  height: 285px;
  width: 100%;
}

.card-trip:hover {
  background-color: rgb(243, 243, 243);
}
.card-trip > img {
  max-height: 200px;
  width: 100%;
  transition: all 0.6s ease;
}
.card-trip > img:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.6s ease;
  opacity: 0.9;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: black;
  text-transform: uppercase;
}

.card-trip h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.card-trip p {
  font-size: 12px;
  opacity: 0.7;
  margin: 0px;
  height: 32px;
  width: 200px;
  overflow: hidden;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
@media (min-width: 768px) {
  .card-product-show {
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    width: 100%;
    .info-show {
      h2 {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin: 0;
      }
      p {
        font-size: 16px;
        margin: 0;
      }
      h3 {
        font-size: 20px;
        font-weight: bold;
        margin: 0;
      }
    }
    &-infos {
      min-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 0;
    }
  }
  .cards-show {
    flex-wrap: nowrap;
    height: 250px;
    img {
      height: 100%;
      width: 500px;
      padding: 10px;
      border-radius: 10px;
      object-fit: cover;
      flex-grow: 0;
    }
  }
}
