.footer {
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 10px;
  color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  margin-top: auto;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #cecdcd;
    text-decoration: none;
  font-size: 29px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: #ea6460;
}
.footer .fa-heart {
  color: #d23333;
}

@media (min-width: 768px) {
  .footer {
    padding: 0px 50px;
  }
}

.footer-copyright h2{
font-family: 'Caveat', cursive;
font-size: 30px;
}
