.view {
  padding: 0 0 76px 0;
}
.container {
  background-color: transparent;
  padding-top: 90px;
}
.row {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
h3 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}
.form-actions {
  text-align: center;
  padding-top: 30px;
}

.form-inputs {
  font-family: "Nunito", sans-serif;
}

.card-category form {
  object-fit: cover;
  background-size: cover;
}

.form1 {
  text-align: left;
  font-weight: bold;
}
